{{- define "main" -}}
{{- if eq .Type "eventlist" -}}
{{- range where .Sections.Reverse ".Date.Year" now.Year -}}
<h1 class="uk-margin-top uk-margin-bottom uk-text-center">{{ .Title }}</h1>
{{ range .Pages.Reverse }}
<div class="uk-card uk-card-default uk-width-1-1@l uk-margin-bottom">
	<div class="uk-card-header uk-overflow-hidden">
		<div class="uk-grid-small uk-flex-middle" uk-grid>
			<div class="uk-width-auto">
				<div class="bb-event-day uk-text-center">
				<div class="bb-event-day-mon">{{- with .Date }}{{ index $.Site.Data.month_short (printf "%d" .Month)}}.{{ end -}}</div>
				<div class="bb-event-day-dom"><b>{{- with .Date }}{{ .Day }}{{ end -}}</b></div>
				</div>
			</div>
			<div class="uk-width-expand">
				<h3 class="uk-card-title uk-margin-remove-bottom uk-card-title-small@s">{{ .Title }}</h3>
				<p class="uk-text-meta uk-margin-remove-top">
					{{- with .Date }}<time datetime="{{ .String }}">{{ .Day }}. {{ index $.Site.Data.month (printf "%d" .Month)}} {{ .Year }}</time></p>{{ end -}}
			</div>
		</div>
	</div>
	<div class="uk-card-body">
		<!--<a class="uk-card-badge uk-label uk-visible@s" {{ with .OutputFormats.Get "calendar" }}href="{{ .Permalink | safeURL }}" type="{{ .MediaType.Type }}"{{ end -}}>abbonieren</a>-->
	{{- with .Content -}}<p>{{ . }}</p>{{- end -}}
		<div>{{- if (not (isset .Params "end")) }}ab {{ end -}}{{ with .Date }}{{- . | dateFormat "15:04" -}}&nbsp;Uhr{{ end -}}{{ with .Params.end }} - {{ . | dateFormat "15:04" -}}&nbsp;Uhr{{ end -}}</div>
		<div>{{- with .Params.location}}{{ . }}{{ end -}}</div>
	</div>
	<div class="uk-card-footer uk-hidden@s">
		<!--<a class="uk-label uk-align-right" {{ with .OutputFormats.Get "calendar" }}href="{{ .Permalink | safeURL }}" type="{{ .MediaType.Type }}"{{ end -}}>abbonieren</a>-->
	</div>
</div>
{{- end -}}
<!--<div class="uk-alert">-->
	<!--<h3 uk-icon="icon: info"></h3>-->
	<!--<p class="uk-text-small uk-margin-remove-top">Du kannst einzelne Termine einfach deinem Kalender hinzufügen, indem du auf den Abbonieren-Button des Termin klickst.-->
		<!--Oder	<a {{ with .OutputFormats.Get "calendar" }}href="{{ .Permalink | safeURL }}" type="{{ .MediaType.Type }}"{{ end }}>hier, um den alle Termine aus {{ .Date.Year }} zu abbonieren.</a></p>-->
<!--</div>-->
{{- end -}}
{{- end -}}
{{- end -}}

