{{- $scss := resources.Get "sass/custom.scss" -}}
{{- $options := (dict "targetPath" "/css/style.min.css" "outputStyle" "compressed" "enableSourceMap" false) -}}
{{- $style := $scss | resources.ToCSS $options -}}
<!-- todo: minify script -->
{{- $script := resources.Get "script/index.js" | js.Build -}}
{{- $secScript := $script | resources.Fingerprint "sha512" -}}
{{- $secScriptMin := $script | resources.Minify | resources.Fingerprint "sha512" -}}

{{- $uikit := resources.Get "script/uikit.js" -}}
{{- $uikitIcons := resources.Get "script/uikit-icons.js" -}}
{{- $secUikit := slice $uikit $uikitIcons | resources.Concat "script/uikit-bundle.js" | resources.Fingerprint "sha256" -}}
{{- $secUikitMin := slice $uikit $uikitIcons | resources.Concat "script/uikit-bundle-min.js" | resources.Minify | resources.Fingerprint "sha256" -}}
{{- $email := resources.Get "script/email.js" -}}
{{- $secEmail := $email | resources.Fingerprint "sha512" -}}
{{- $secEmailMin := $email | resources.Minify | resources.Fingerprint "sha512" -}}
{{- $matomo := resources.Get "script/matomo.js" -}}
{{- $secMatomo := $matomo | resources.Fingerprint "sha512" -}}
{{- $secMatomoMin := $matomo | resources.Minify | resources.Fingerprint "sha512" -}}
{{- $calendar := resources.Get "script/js-year-calendar.js" -}}
{{- $secCalendar := $calendar | resources.Fingerprint "sha512" -}}
{{- $secCalendarMin := $calendar | resources.Minify | resources.Fingerprint "sha512" -}}
{{- $calendarStyle := resources.Get "css/js-year-calendar.css" -}}
{{- $calendarStyleMin := $calendar | resources.Minify -}}


<head>
	<meta charset="UTF-8">
	<title>{{ .Title }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="350">
	<meta name="apple-mobile-web-app-title" content="{{ .Title }}">
	<meta name="application-name" content="{{ .Title }}">
	<meta name="msapplication-TileColor" content="#00a300">
	<meta name="theme-color" content="#ffffff">
	{{- with .Site.Params.description -}}
	<meta name="description" content="{{ . }}">
	{{- end -}}
	<meta name="keywords" content="{{ if .Keywords }}{{ range .Keywords }}{{ . }}, {{ end }}{{else if isset .Params "tags" }}{{ range .Params.tags }}{{ . }}, {{ end }}{{end}}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oranienbaum" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/manifest/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/images/manifest/safari-pinned-tab.svg" color="#0b8d36">
	<link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">
	<link rel="stylesheet" type="text/css" href="{{ $calendarStyle.Permalink }}">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		  crossorigin=""/>

	<base href="{{ .Site.BaseURL }}">
	{{- range .AlternativeOutputFormats -}}
	{{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }}
	{{- end -}}
	<script type="text/javascript" src="{{ $secUikitMin.Permalink }}" integrity="{{ $secUikitMin.Data.Integrity }}" async></script>
	<script type="text/javascript" src="{{ $secScriptMin.Permalink }}" integrity="{{ $secScriptMin.Data.Integrity }}" async></script>
	<script type="text/javascript" src="{{ $secCalendarMin.Permalink }}" integrity="{{ $secCalendarMin.Data.Integrity }}" async></script>
	{{ if .Page.HasShortcode "emailjs" -}}
	<script type="text/javascript" src="{{ $secEmailMin.Permalink }}" integrity="{{ $secEmailMin.Data.Integrity }}" async></script>
	{{- end -}}
	<script type="text/javascript" src="{{ $secMatomoMin.Permalink }}" integrity="{{ $secMatomoMin.Data.Integrity }}" async></script>
	<noscript><p><img src="//matomo.verst.eu/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin=""></script>

</head>
