<!--<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>-->
<!--<label for="drawer-toggle" id="drawer-toggle-label">-->
	<!--{{ partial "head/header.html" . }}-->
<!--</label>-->


{{ partial "head/header.html" . }}
<div id="burger" onclick="toggleMenu()">
	<div></div>
</div>
<nav id="drawer">
	<ul>
		<ul>
			{{ $currentPage := . }}
			{{ range .Site.Menus.main }}
			{{ if .HasChildren }}
			<li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
			<a href="#" onclick="toggleMenu()">
				{{ .Pre }}
				<span>{{ .Name }}</span>
			</a>
			</li>
			<ul class="sub-menu">
				{{ range .Children }}
				<li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
				<a href="{{ .URL }}">{{ .Name }}</a>
				</li>
				{{ end }}
			</ul>
			{{ else }}
			<li>
				<a href="{{ .URL }}">
					{{ .Pre }}
					<span>{{ .Name }}</span>
				</a>
			</li>
			{{ end }}
			{{ end }}
		</ul>
	</ul>
</nav>


