<link rel="apple-touch-icon" sizes="180x180" href="/images/manifest/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/images/manifest/safari-pinned-tab.svg" color="#0b8d36">
<meta name="apple-mobile-web-app-title" content="{{ .Title }}">
<meta name="application-name" content="{{ .Title }}">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="theme-color" content="#ffffff">