{{ $month := .Site.Data.month_de }}
{{ $paginator := .Paginate .Sections 1 }}
{{ template "termine/pagination.html" . }}
{{- range $paginator.Pages -}}
<table class="uk-table uk-table-small">
    <caption></caption>
    <thead>
    <tr>
        <th>Was</th>
        <th>Wann</th>
        <th>Wo</th>
    </tr>
    </thead>
    <tbody>
    {{ range .Pages.ByParam "start" }}
    {{ $start := time .Params.start }}
    {{ $end := time .Params.end }}
    {{ $hasEnd := false }}
    {{ if isset .Params "end" }}{{ $hasEnd = true }}{{ end }}
    {{ $was := lt $start now }}
    {{ $canceled := false }}
    {{ with.Params.canceled }}{{ $canceled = . }}{{ end }}

    <tr>
        <td class="uk-text-bold {{ if $was }}uk-text-muted{{ end }}">
            <a class="uk-link uk-link-text-nu" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </td>

        <td class="{{ if $was }} uk-text-muted{{ end }}">
            <a class="uk-link uk-link-text-nu" href="{{ .RelPermalink }}">
            <time class="{{ if $canceled }} text-strikethrough{{ end }}" datetime="{{ $start.String }}">{{ $start.Day }}. {{ index $month.long $start.Month }} {{ $start.Year }}
            {{ if (gt $start.Hour 0) }}
                ab {{ $start | dateFormat "15:04" }} Uhr
            {{ end }}
            </time>
            {{ if $canceled }}<span class="uk-text-warning">&nbsp;{{ with .Params.cancelReason }}{{ . }}{{ else }}Abgesagt{{ end }}</span>{{ end }}
            {{ if $hasEnd }}
            <br><span class="{{ if $canceled }} text-strikethrough{{ end }}">
            bis <time datetime="{{ $end.String }}">{{ $end.Day }}. {{ index $month.long $end.Month }} {{ $end.Year }}</time>
            </span>{{ end }}
            </a>
        </td>

        <td class="{{ if $was }} uk-text-muted{{ end }}">
            <span class="{{ if $canceled }} text-strikethrough{{ end }}">
            {{ with .Params.location }}
              {{ with (index $.Site.Data.locations . ) }}
                {{ if (isset . "maps") }}<a class="{{ if $canceled }} text-strikethrough{{ end }}" href="{{ .maps }}" uk-icon="icon: location; ratio: 0.8">{{ .name }} </a>{{ else }}{{ .name }}{{ end }}
              {{ else }}
                {{ . }}
              {{ end }}
            {{ end }}
            </span>
        </td>
    </tr>

    {{- end -}}
    </tbody>
</table>

<div class="uk-alert">
    <h3 uk-icon="info"></h3>
    <p class="uk-text-small uk-margin-remove-top uk-margin-left">
        {{ $year := .Params.year}}
        {{ with .OutputFormats.Get "calendar" }}
        Du kannst die Termine für {{ $year }} ganz einfach in deinen Kalendar importieren, indem du
        <a href="{{ .Permalink | safeURL }}" type="{{ .MediaType.Type }}" uk-icon="calendar">hier </a>, klickst.
        {{ end }}
        Um einen einzelnen Termin zu importieren, wechsle in die Detailansicht des Termins.
    </p>
</div>

{{- end -}}
