{{ define "main" }}
<div class="uk-card uk-card-default uk-card-border uk-width-1-1@l uk-margin-bottom">
	<div class="uk-card-header uk-overflow-hidden">
		<div class="uk-grid-small uk-flex-middle" uk-grid>
			<div class="uk-width-auto">
				<div class="bb-event-day uk-text-center">
					<div class="bb-event-day-mon">{{- with .Date }}{{ index $.Site.Data.month_short (printf "%d" .Month)}}.{{ end -}}</div>
					<div class="bb-event-day-dom"><b>
						{{ $endDay := .Date.Day }}{{- if (isset .Params "end") }}{{ $endDay = (add (time .Params.end).Day -1) }}{{ end }}
						{{ if eq $endDay (.Date.Day) }}{{ .Date.Day }}{{ else }}{{ .Date.Day }}-{{ $endDay }}{{ end -}}
					</b></div>
				</div>
			</div>
			<div class="uk-width-expand">
				<h3 class="uk-card-title uk-margin-remove-bottom uk-card-title-small@s">{{ .Title }}</h3>
				<div class="uk-text-meta uk-margin-remove-top">
					<time datetime="{{ .Date.String }}">{{ .Date.Day }}. {{ index $.Site.Data.month (printf "%d" .Date.Month)}} {{ .Date.Year }}</time>
					{{- if (isset .Params "end") }} -
					<time datetime="{{ (time .Params.end).String }}">{{ (add (time .Params.end).Day -1) }}. {{ index $.Site.Data.month (printf "%d" (time .Params.end).Month)}} {{ (time .Params.end).Year }}</time>
					{{- end -}}
					{{- if (gt .Date.Hour 0) }}
					<span>
						{{- if (not (isset .Params "end")) -}} ab {{ end -}}
						{{ with .Date }}{{- . | dateFormat "15:04" -}}&nbsp;Uhr{{ end -}}{{ with .Params.end }} - {{ . | dateFormat "15:04" -}}&nbsp;Uhr{{ end -}}
						{{ end -}}
					</span>
				</div>
				{{- with .Params.location -}}
				<div class="uk-text-muted uk-text-nowrap uk-text-meta">
					{{ with (index $.Site.Data.locations .) }}
					{{ .name}}
					{{ with .street }}, {{.}}{{ end }}
					{{ with .maps }}<a href="{{.}}" target="_blank" uk-icon="location"></a>{{ end }}
					{{- else -}}
					{{ . }}
					{{- end -}}
				</div>
				{{- end -}}
			</div>
		</div>
	</div>
	{{- with .Content -}}
	<div class="uk-card-body">
		<p>{{ . }}</p>
	</div>
	{{- end -}}
</div>
{{ end }}