{{- define "main" }}
<ul uk-accordion="collapsible: true">
    <li class="uk-open">
        <a class="uk-accordion-title" href="#">{{- with .Params.headline -}}{{ . }}{{- else -}}{{ .Title }}{{- end -}}</a>
        <div class="uk-accordion-content">
            {{- with .Params.subhead -}}<p class="uk-article-meta">{{ . }}</p>{{- end -}}
            <p>{{ .Content }}</p>
        </div>
    </li>

    {{ range .Pages }}
    <li>
        <a class="uk-accordion-title" href="#">{{- with .Params.headline -}}{{ . }}{{- else -}}{{ .Title }}{{- end -}}</a>
        <div class="uk-accordion-content">
            {{- with .Params.subhead -}}<p class="uk-article-meta">{{ . }}</p>{{- end -}}
            <p>{{ .Content }}</p>
        </div>
    </li>

    {{- end -}}


</ul>
<br />
<br />
{{- end -}}

