{{- define "main" -}}

{{ $paginator := .Paginate (.Site.Taxonomies.tags.thron) 1 }}
{{ range $paginator.Pages }}

{{- $title := .Title -}}
{{- $ttitle := printf "Thron %s - %s" .Params.throne.years .Params.throne.king_title -}}
{{- $hasContent := gt (len .Content) 0 -}}
<h3 class="uk-card-title uk-card-title-small@s">{{ $ttitle }}</h3>
{{ if $hasContent }}<a class="uk-link-text" href="{{ .Permalink }}">{{ end }}
  {{ range first 1 (.Resources.Match "thron-*") }}
  {{- $s := .Resize "480x" -}}
  {{- $m := .Resize "800x" -}}
  {{- $l := .Resize "1200x" -}}
  <figure class="">
    <img data-src="{{ $l.Permalink }}" data-srcset="{{- $s.Permalink }} {{ $s.Width -}}w, {{ $m.Permalink }} {{ $m.Width -}}w, {{ $l.Permalink }}  {{ $l.Width -}}w"
         sizes="(max-width: {{ $s.Width -}}px) {{ $s.Width -}}px, (max-width: {{ $m.Width -}}px) {{ $m.Width -}}px 100vw" width="{{- $l.Width -}}" height="{{- $l.Height -}}"
         alt="{{ $ttitle }}"  uk-img>
    {{ if $hasContent }}
    <figcaption>Zum Bericht: {{ $title }}</figcaption>
    {{ end }}

  </figure>
  {{- end -}}
  {{ if $hasContent }}</a>{{ end }}

{{- with .Params.throne }}
<div class="uk-overflow-auto">
  <table class="uk-table uk-table-small uk-table-middle">
    <tbody>
    <tr><td>K&ouml;nig</td><td>{{- .king -}}</td></tr>
    <tr><td>K&ouml;nigin</td><td>{{- .queen -}}</td></tr>
    {{ if .moh1 }}
    <tr><td>Ehrenpaare</td><td>{{- .moh1 }} und {{ .loh1 -}}</td></tr>
    <tr><td></td><td>{{- .moh2 }} und {{ .loh2 -}}   </td></tr>
    <tr><td>Oberhofmarschall</td><td>{{- .courtmarshal -}}</td></tr>
    <tr><td>Mundschenk</td><td>{{- .cupbearer -}}</td></tr>
    {{ end }}
    </tbody>
  </table>
</div>

{{ end }}
{{ end }}

{{ template "thron/pagination.html" . }}
{{- end -}}
