{{ $p := .Paginator }}
{{$cp := index ($p.Pages) 0}}

<div class="uk-child-width-1-3@s uk-margin-large-top uk-text-center" uk-grid>

  <div>
    {{ if $p.HasPrev }}
    {{$pp := index ($p.Prev.Pages) 0}}
    <a href="{{ $p.Prev.URL }}" class="uk-button uk-button-default">
      <span class="uk-text-nowrap">{{ $pp.Date.Year }} - {{ $pp.Params.throne.king }}</span></a>
    {{ end }}
  </div>

  <div>
    <select name="thrones" id="thrones" class="uk-select" onchange="location.href = this.value;">
      {{ range $p.Pagers }}
      {{$ppp := index (.Pages) 0}}
      <option value="{{ .URL }}" {{ if eq $cp.Date.Year $ppp.Date.Year }} selected{{ end }}>{{ $ppp.Date.Year }} - {{ $ppp.Params.throne.king }}</option>
      {{ end }}
    </select>
  </div>

  <div>
    {{ if $p.HasNext }}
    {{$np := index ($p.Next.Pages) 0}}
    <a href="{{ $p.Next.URL }}" class="uk-button uk-button-default">
      <span class="uk-text-nowrap">{{ $np.Params.throne.king }} - {{ $np.Date.Year }}</span></a>
    {{ end }}
  </div>

</div>
