{{ $p := .Paginator }}

{{$cp := index ($p.Pages) 0}}

<div class="uk-width-expand uk-flex uk-flex-center">
  <button class="uk-button uk-button-default" type="button">{{ $cp.Date.Year }} - {{ $cp.Params.throne.king }}</button>
  <div uk-dropdown="pos: bottom-justify">
    <ul class="uk-nav uk-dropdown-nav">
      <!--        <li class="uk-nav-divider"></li>-->
      {{ range $p.Pagers }}
      {{$ppp := index (.Pages) 0}}

      <li class="{{ if eq $ppp.Date.Year $cp.Date.Year }}uk-active{{ end }}" ><a href="{{ .URL }}">{{ $ppp.Date.Year }} - {{ $ppp.Params.throne.king }}</a></li>
      {{ end }}
    </ul>
  </div>
</div>
<ul class="uk-pagination uk-flex-center">

  {{ if $p.HasPrev }}
  {{$pp := index ($p.Prev.Pages) 0}}
  <li><a href="{{ $p.Prev.URL }}"><span class="uk-margin-small-right" uk-pagination-previous></span> {{ $pp.Date.Year }} - {{ $pp.Params.throne.king }}</a></li>
  {{ end }}




  {{ if $p.HasNext }}
  {{$np := index ($p.Next.Pages) 0}}
  <li class="uk-margin-auto-left"><a href="{{ $p.Next.URL }}">{{ $np.Params.throne.king }} - {{ $np.Date.Year }}
  <span class="uk-margin-small-left" uk-pagination-next></span></a></li>

  {{ end }}


</ul>

