/* Custom variable overwrites */
$global-primary-background: #0b8d36 !default;
$global-muted-background: lighten(mix(white, $global-primary-background, 40%), 20%) !default;
$global-xxlarge-font-size: 2.35rem;

$container-max-width: 1000px !default;
$container-xsmall-max-width: 600px !default;
$container-small-max-width: 800px !default;
$container-large-max-width: 1300px !default;

@import "variables-theme.scss";
@import "mixins-theme.scss";

/* Custom mixin overwrites */

/* Custom classes */

body {
	overflow-y: scroll;
}

.bb-event-day {
	width: 50px;
	height: 50px;
	border: 2px solid $global-primary-background;

	.bb-event-day-mon {
		color: $global-inverse-color;
		background-color: $global-primary-background;
	}

	.bb-event-day-dom {

	}
}

.bb-navbar-right {
	position: absolute;
	top: 0;
	left: calc(100% - 200px);
	width: 200px;
}

li .bb-navbar-active {
	color: #32d296;
}

.bb-icon-info-text::after {
	content: "Info";
	margin-left: 0.2em;
}

td {
	border-top: 1px solid $global-primary-background;
}

em {
	color: $text-lead-color !important;
}


/* Textlink without underline
 ========================================================================== */

a.green {
	color: $global-primary-background !important;
}

a.uk-link-text-nu:not(:hover),
.uk-link-text a:not(:hover) {
	color: inherit;
	text-decoration-line: none;
	@if (mixin-exists(hook-link-text)) {
		@include hook-link-text();
	}
}

a.uk-link-text-nu:hover,
.uk-link-text a:hover {
	color: $link-text-hover-color;
	text-decoration-line: none;
	@if (mixin-exists(hook-link-text-hover)) {
		@include hook-link-text-hover();
	}
}


.uk-overlay-primary-sm {
	background: $overlay-primary-background;
	height: 20px;
	@if (mixin-exists(hook-overlay-primary)) {
		@include hook-overlay-primary();
	}
}

.uk-card-border {
	border: 1px solid $global-border;
	padding: 5px;
}

.uk-card-noborder {
	border: none;
}


@import "uikit-theme.scss";

.head_logo {
	width: 50%;
	max-width: 700px;
}

@media (max-width: $breakpoint-small) {
	.uk-card-title-small\@s {
		font-size: 1.2rem;
	}

	.head_logo {
		width: 70%;
	}

	.uk-position-bottom {
		bottom: 0;
		left: 0;
		right: 0;
	}
}
