{{- $data := .Site.Data.offiziere -}}
<div class="uk-overflow-auto uk-width-1-2@m uk-tile-muted uk-padding uk-align-center">
    <table class="uk-table uk-table-small uk-table-middle">
        <tr>
            {{- $on := index $data.oberst "name" -}}
            {{- $os := index $data.oberst "street" -}}
            {{- $oc := index $data.oberst "city" -}}
            <td>Oberst:
                {{- with $on -}}<br>{{- end -}}
                {{- with $os -}}<br>{{- end -}}
                {{- with $oc -}}<br>{{- end -}}
            </td>
            <td>
                {{- with $on -}}{{ . }}<br>{{- end -}}
                {{- with $os -}}{{ . }}<br>{{- end -}}
                {{- with $oc -}}{{ . }}{{- end -}}
            </td>
        </tr>
        <tr>
            {{- $ln := index $data.oberstleutnant "name" -}}
            {{- $ls := index $data.oberstleutnant "street" -}}
            {{- $lc := index $data.oberstleutnant "city" -}}
            <td>Oberstleutnant:
                {{- with $ln -}}<br>{{- end -}}
                {{- with $ls -}}<br>{{- end -}}
                {{- with $lc -}}<br>{{- end -}}
            </td>
            <td>
                {{- with $ln -}}{{ . }}<br>{{- end -}}
                {{- with $ls -}}{{ . }}<br>{{- end -}}
                {{- with $lc -}}{{ . }}{{- end -}}
            </td>
        </tr>
        <tr>
            {{- $mn := index $data.major "name" -}}
            {{- $ms := index $data.major "street" -}}
            {{- $mc := index $data.major "city" -}}
            <td>Major:
                {{- with $mn -}}<br>{{- end -}}
                {{- with $ms -}}<br>{{- end -}}
                {{- with $mc -}}<br>{{- end -}}
            </td>
            <td>
                {{- with $mn -}}{{ . }}<br>{{- end -}}
                {{- with $ms -}}{{ . }}<br>{{- end -}}
                {{- with $mc -}}{{ . }}{{- end -}}
            </td>
        </tr>
    </table>
</div>