{{- with $.Site.GetPage "/thrones" -}}
{{- range first 1 .Pages -}}
{{- $title := .Title -}}
<a class="uk-link-text" href="/thrones">
{{ range first 1 (.Resources.Match "gallery-*") }}
{{- $s := .Resize "480x" -}}
{{- $m := .Resize "800x" -}}
{{- $l := .Resize "1200x" -}}
<figure class="">
    <img data-src="{{ $l.Permalink }}" data-srcset="{{- $s.Permalink }} {{ $s.Width -}}w, {{ $m.Permalink }} {{ $m.Width -}}w, {{ $l.Permalink }}  {{ $l.Width -}}w"
         sizes="(max-width: {{ $s.Width -}}px) {{ $s.Width -}}px, (max-width: {{ $m.Width -}}px) {{ $m.Width -}}px 100vw" width="{{- $l.Width -}}" height="{{- $l.Height -}}"
         alt="{{- with .Title }}{{ . }}{{- end -}}"  uk-img>
    {{- with $title }}<figcaption>{{ . }}</figcaption>{{- end -}}
</figure>
{{- end -}}
</a>
{{- end -}}
{{- end -}}