{{- $data := .Site.Data.board -}}
<div class="uk-overflow-auto uk-tile-muted uk-align-center">
    <table class="uk-table uk-table-small uk-table-middle">
    <tr>
        <td>1. Vorsitzender (Pr&auml;sident)</td>
        <td>{{- index $data.president "name" -}}</td>
    </tr>
    <tr>
        <td>2. Vorsitzender (Vizepr&auml;sident)</td>
        <td>{{- index $data.vicePresident "name" -}}</td>
    </tr>
    <tr>
        <td>Gesch&auml;ftsf&uuml;hrer</td>
        <td>{{- index $data.managingDirector "name" -}}</td>
    </tr>
    <tr>
        <td>Schriftf&uuml;hrer</td>
        <td>{{- index $data.secretary "name" -}}</td>
    </tr>
    <tr>
        <td>Kasierer</td>
        <td>{{- index $data.treasurer "name" -}}</td>
    </tr>
    </table>
</div>