{{- $class := "" -}}
{{- with .Get "class" -}}
{{- $class = . -}}
{{- end -}}

{{ $lb := false }}
{{- with (.Get "lightbox") -}}
{{- if or (eq . "1") (eq . "true") -}}
{{ $lb = true }}
{{- end -}}
{{- end -}}

{{- with .Get "name" -}}
{{- $name := . -}}
{{- range $.Page.Resources.ByType "image" -}}
{{- if eq .Name $name -}}
{{- $s := .Resize "480x" -}}
{{- $m := .Resize "800x" -}}
{{- $l := .Resize "1200x" -}}
{{- $ov := "" -}}
{{- $ovTitle := "" -}}
{{- $ovCopy := "" -}}
{{- with .Title -}}
{{- $ovTitle = . -}}
{{- end -}}
{{- with .Params.Copy -}}
{{- $ovCopy = . -}}
{{- end -}}
{{- if or $ovTitle $ovCopy -}}
{{- $ov = "1" -}}
{{- end -}}

<figure class="{{ $class }}">
<img data-src="{{ $l.Permalink }}" data-srcset="{{- $s.Permalink }} {{ $s.Width -}}w, {{ $m.Permalink }} {{ $m.Width -}}w, {{ $l.Permalink }}  {{ $l.Width -}}w"
     sizes="(max-width: {{ $s.Width -}}px) {{ $s.Width -}}px, (max-width: {{ $m.Width -}}px) {{ $m.Width -}}px 100vw" width="{{- $l.Width -}}" height="{{- $l.Height -}}"
     alt="{{- with .Title }}{{ . }}{{- end -}}" {{ if $lb }}onclick="UIkit.lightbox('#lb-{{- $name -}}').show(0);" style="cursor: pointer"{{ end }} uk-img>
    {{- if $ov -}}<figcaption><small>{{- if $ovTitle -}}{{ $ovTitle }}{{- end -}}{{- if $ovCopy }}&nbsp;&nbsp;&nbsp;&nbsp;(&copy; {{ $ovCopy }}){{- end -}}</small></figcaption>{{- end -}}
</figure>
{{- if $lb -}}
<div id="lb-{{- $name -}}" uk-lightbox>
    <a href="{{ $l.Permalink }}" {{- if $ov -}}data-caption="{{- if $ovTitle -}}{{ $ovTitle }}{{- end -}}{{- if $ovCopy }}&nbsp;&nbsp;&nbsp;&nbsp;(&copy; {{ $ovCopy }}){{- end -}}"{{- end -}}></a>
</div>
{{- end -}}
{{- end -}}
{{- end -}}

{{- end -}}