{{ $img := "" }}
{{- with .Get "image" -}}
{{- $name := . -}}
{{- range $.Page.Resources.ByType "image" -}}
{{- if eq .Name $name -}}
{{ $img = .Fill "130x150 top q100" }}
{{- end -}}
{{- end -}}
{{- end -}}

<div class="uk-padding-large">
    <div class="uk-card uk-card-default uk-card-border" uk-grid>
        <div class="uk-width-expand@m uk-width-2-3@s">
            <div class="uk-card-body">
                <div class="uk-card-header">
                    {{- with (.Get "title") }}<h3 class="uk-card-title">{{ . }}</h3>{{ end -}}
                    {{- with (.Get "subtitle") }}{{ . }}{{ end -}}
                </div>
                <p>{{ .Inner }}</p>

            </div>
        </div>
        <div class="uk-card-media-right uk-cover-container uk-width-1-3@s">
            {{- with $img -}}
            <div style="height: {{ int (mul .Height 1.2) }}px;">
                <img class="uk-align-center uk-position-bottom" data-src="{{ .Permalink }}" width="{{ .Width }}"
                     Height="{{ .Height }}" alt="{{ .Title }}" uk-img>
            </div>
            {{- end -}}
        </div>
    </div>
</div>
