{{- with $.Site.GetPage "/aktuell" -}}
<div class="uk-grid-small uk-child-width-expand@s" uk-grid>
{{- range $i, $e :=  first 2 .Pages -}}

  <div class="uk-margin-left {{ if eq $i 1 }} uk-margin-right{{ end }} uk-card uk-card-border uk-card-body" onclick="window.location = '{{ .RelPermalink }}';"
       style="cursor: pointer">
    <h3 class="uk-card-title">{{ $e.Title }}</h3>
    <small class="uk-text-muted">{{ $e.Date.Day }}. {{ index $.Site.Data.month (printf "%d" .Date.Month)}} {{ .Date.Year }}{{ with .Params.meta }} - {{ . }}{{ end }}</small>
    {{ with $e.Resources.ByType "image" }}
    {{ range first 1 . }}
    <div class="uk-card-media-right">
      <img src="{{ .RelPermalink }}" width="35%" class="uk-float-left uk-padding-small" style="min-width: 160px;" uk-img>
    </div>
    {{ end }}
    {{ end }}
    {{ if not $e.Params.noarticle }}
    <p>{{ $e.Summary }}</p>
    {{ if $e.Truncated }}
    <div class="uk-align-right">
      <a class="uk-link-reset" href="{{ $e.RelPermalink }}">mehr lesen…</a>
    </div>
    {{ end }}
    {{ end }}
  </div>
{{- end -}}
</div>
{{- end -}}
